body {
    background-color: none;
}

main {
    background-color: none;
    align-items: center;
}

.container{
background-color: beige;
padding: 5px;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 8px;
}

.casilla {
    width: 13% ;
    height: 13vw;
    border: 2px solid black;
    border-radius: 10%;
    font-size: 10vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    gap: 8px;
    background-image: repeating-radial-gradient(aqua, azure 20%, beige 20%);
}